html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--black);
  background: #F5F6F8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --black:  #3B434E;
  --white: white;
  --primary:  #7653FC;
  --primary-hover:  #502ddb;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: 'Open Sans', sans-serif;
  --gray-light: #EBEBEB;



}